.formulario{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position:absolute;
  top: 15%;
  left: 35%;  
  flex: 1 0 120px;
  text-align: center;
}
form{
    min-width:25vw;
    max-width: 25vw;
}
form > a{
  margin-left: auto;
  padding: 8px 16px;
  border: none;
}
